$colorBackground: #000;
$colorTextoPrincipal: #b6b5b5;
$colorTextoSecundario: #fff;
$colorTextoHero: #7d7d7d;
$colorTitleElenco: #e5ca53;
$colorTitleSinopse: #d79154;
$colorElencoListaBackground: #fffcfc13;

