$colorBackground: #000;
$colorTextoPrincipal: #dac7b8;
$colorTextoSecundario: #e9d5c1;
$colorTextoHero: #a29489;
$colorTitleElenco: #e5ca53;
$colorTitleSinopse: #d79154;
$colorElencoListaBackground: #fffcfc13;

