$colorBackground: #000;
$colorTextoPrincipal: #aea094;
$colorTextoSecundario: #fff;
$colorTextoHero: #8d7f74;
$colorTitleElenco: #e5ca53;
$colorTitleSinopse: #d79154;
$colorElencoListaBackground: #fffcfc13;

